body {
    background-color: coral;
}

p {
    font-family: sans-serif;
}

#one {
    color: green;
}

#two {
    color: teal;
}

#three {
    color: purple;
}

#four {
    color: red;
}

.bordered {
    border: 2px solid fuchsia;
}

.background-black {
    background-color: black;
}